/* The component style is inserted here. */

.products_list {
  /* float: left; */
  justify-content: center;
}

.products_list-item {
  flex: 1;
  flex-basis: 20%;
  margin: 10px auto;

  &-col {
    display: flex;
    justify-content: center;
    max-width: 100%;
  }
}

.products_list-item-image {
  width: 160px;
  height: 160px;
}

.ant-card-body {
  padding: 0px;
}

.products_list-item-name {
  padding-top: 4px;
  font-size: 15px;
  float: right;
}

.products_list-item-short_description {
  float: left;
  font-size: 12px;
  line-height: 11px;
}

.products_list-item-price {
  float: right;
}

.products_list-item-producer {
  float: left;
  margin-bottom: 5px;
}

.product_div_short {
  height: 60px;
  display: table-caption;
}

.product_div_long {
  height: 80px;
}