/* The component style is inserted here. */

.navbar {
    display: contents;
    &-cart {
        font-size: 25px;
        &__badge {
            .ant-scroll-number {
                background-color: black;
                height: 15px;
            }
        }
    }
    &-item {
        background-color: darkgrey;
        color: aliceblue;
        text-align: center;
        &:hover {
            background-color: gray;
            color: aliceblue;
            font-weight: bold;
        }
    }
    &-user {
        display: contents;
    }
}

.cart-col {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}